h1 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 100px;
  color: white;
  text-align: center;
}

h2 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 24px;
  color: white;
  text-align: center;
}
