<md-grid-list cols="3" rowHeight="3:1">

  <md-grid-tile>
    <md-card>
      <app-social-link [alt]="'GitHub'" [icon]="'github'" [url]="'https://github.com/tfgraph'"></app-social-link>
    </md-card>
  </md-grid-tile>
  <md-grid-tile>
    <md-card>
      <app-social-link [alt]="'Facebook'" [icon]="'facebook'"
                       [url]="'https://facebook.com/tfgraph'"></app-social-link>
    </md-card>
  </md-grid-tile>

  <md-grid-tile>
    <md-card>
      <app-social-link [alt]="'Twitter'" [icon]="'twitter'" [url]="'https://twitter.com/tfgraph_'"></app-social-link>
    </md-card>
  </md-grid-tile>
</md-grid-list>
